<div
  class="min-w-screen min-h-screen bg-background-500 flex justify-center items-center font-display overflow-hidden relative"
>
  <div class="spot spot-left"></div>
  <div class="spot spot-right"></div>
  <div class="flex flex-col justify-center items-center">
    <div class="mb-4 flex flex-col justify-center items-center gap-8">
      <img src="ghost.svg" alt="" srcset="" class="ghost-animation" />
      <h1
        class="text-portage textPurpleShadow text-master font-bold glow-animation"
      >
        404
      </h1>
    </div>
    <p class="text-santas-gray text-subheading mb-8">
      Oops! Parece que você encontrou um flashcard inexistente
    </p>
    <div class="flex flex-col justify-center items-center gap-0 mb-6">
      <p class="text-santas-gray text-base">
        Não se preocupe! Às vezes até os melhores cartões de
      </p>
      <p class="text-santas-gray text-base">
        estudo se perdem no espaço digital.
      </p>
    </div>
    <a
      href="/"
      class="flex flex-row gap-4 px-[1.125rem] py-2.5 border-portage border rounded-lg"
    >
      <img src="home.svg" alt="" />
      <p class="text-portage text-small">Voltar para Home</p></a
    >
  </div>
</div>
