<div
  class="w-full bg-wood-smoke mx-3 py-6 pl-6 flex rounded-lg border border-charade gap-4"
>
  <div class="p-3.5 bg-sidebar rounded-full">
    <app-open-book-icon *ngIf="icon === 'open-book'" [stroke]="strokeColor" />
    <app-book-mark-icon *ngIf="icon === 'book-mark'" [stroke]="strokeColor" />
    <app-album-icon *ngIf="icon === 'album'" [stroke]="strokeColor" />
  </div>
  <div>
    <p class="text-santas-gray font-medium text-base">{{ title }}</p>
    <p class="text-alabaster text-large font-bold">{{ value }}</p>
  </div>
</div>
