<header class="fixed w-full h-[4.375rem] flex flex-row items-center justify-between px-[20rem] bg-[#2E2E38]/10 bg-opacity-10 backdrop-blur-sm z-10">
  <div class="flex flex-row gap-2 items-center justify-center">
    <img src="closed-book.svg" alt="Logo">
    <h1 class=" textPurpleShadow text-portage text-[0.625rem] font-bold text-shadow-md">HypeDivision/Study</h1>
  </div>
  <nav class="flex flex-row gap-6">
    <a href="/">
      <p class="text-santas-gray text-[0.961rem]">Home</p>
    </a>
    <a href="/development">
      <p class="text-santas-gray text-[0.961rem]">Desenvolvimento</p>
    </a>
    <a href="/resources">
      <p class="text-santas-gray text-[0.961rem]">Recursos</p>
    </a>
  </nav>
  <div class="flex flex-row gap-4">
    <a href="/login" class="flex flex-row gap-0.5 px-[0.813rem] py-2 border border-portage hover:bg-portage rounded-[0.625rem]">
      <img src="login.svg" alt="">
      <p class="text-alabaster text-[0.834rem]">Entrar</p></a>
      <a href="/login" class="flex flex-row gap-0.5 px-[0.813rem] py-2 border bg-portage text-alabaster hover:bg-inherit hover:border-portage rounded-[0.625rem]">
      <img src="/register.svg" alt="">
      <p class=" text-[0.834rem]">Registrar</p></a>
  </div>
</header>