<div class="relative w-[600px] h-[400px] flex items-center justify-center">

  <div class=" absolute w-[500px] h-[350px] bg-gradient-to-b from-wood-smoke to-purple-700 rounded-2xl border border-portage/50 shadow-[0_0_20px_rgba(89,09,119,0.3),0_0_40px_rgba(89,09,119,0.2)] rotate-[-2deg] animate-card1 will-change-transform">
  </div>

  <div class=" absolute w-[500px] h-[350px] bg-gradient-to-b from-wood-smoke to-[#D946EF]/40 rounded-2xl border border-portage/50 shadow-[0_0_20px_rgba(217,70,239,0.3),0_0_40px_rgba(89,09,119,0.2)] rotate-[2deg] animate-card2 will-change-transform">
  </div>

  <div class=" absolute w-[500px] h-[350px] bg-gradient-to-b from-wood-smoke to-[#16161D]/60 rounded-2xl border border-portage/50 shadow-[0_0_20px_rgba(89,09,119,0.3),0_0_40px_rgba(89,09,119,0.2)] rotate-[6deg] animate-card3 will-change-transform">

    <img src="closed-book.svg" alt="Closed Book Icon" class="animate-icon textPurpleShadow absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-portage w-16 h-16"/>
  </div>
</div>
