<a [routerLink]="['/study', Deck.id]">
  <div
    class="flex-1 bg-wood-smoke py-6 px-[1.5rem] pl-6 flex rounded-lg border border-charade gap-4 flex-col justify-between items-baseline">
    <p class="text-medium font-bold text-alabaster">{{ title }}</p>
    <div class="w-full flex justify-between items-center">
      <p class="text-santas-gray text-small font-normal">{{ amountOfCards }} Cartões</p>
      <p class="text-santas-gray text-small font-normal">Estudado {{ studyTime }}</p>
    </div>
  </div>
</a>