<form
  (ngSubmit)="onSubmit()"
  class="w-[28rem] flex flex-col justify-center items-start gap-[1.188rem]"
>
  <app-input label="Email" type="email" [(value)]="email" class="w-full" />
  <app-input-password
    label="Senha"
    [(value)]="password"
    forgotLink="/forgot-password"
    [showEye]="true"
    class="w-full"
  />
  <app-checkbox label="Lembrar de mim" [(value)]="checkbox" />
  <button
    type="submit"
    class="w-full h-[2.5rem] flex justify-center items-center bg-portage rounded-[0.625rem] cursor-pointer gap-4"
  >
    <img src="/user.svg" alt="" />
    <p class="text-[0.821rem] text-[#FFFFFF]">Entrar</p>
  </button>
</form>
