<form
  action=""
  class="w-[28rem] flex flex-col justify-center items-start gap-[1.188rem]"
>
  <div class="w-full flex flex-col justify-center items-start gap-[0.75rem]">
    <p class="text-alabaster font-normal text-sm">Email</p>
    <input
      type="text"
      class="bg-wood-smoke w-full h-[2.5rem] border-charade border-[0.063rem] rounded-[0.625rem]"
    />
  </div>
  <div class="w-full flex flex-col justify-center items-start gap-[0.75rem]">
    <div class="w-full flex justify-between">
      <p class="text-alabaster font-normal text-sm">Senha</p>
      <a href="">
        <p class="text-portage">Esqueceu a senha?</p>
      </a>
    </div>
    <input
      type="text"
      class="bg-wood-smoke w-full h-[2.5rem] border-charade border-[0.063rem] rounded-[0.625rem]"
    />
  </div>
  <label class="flex items-center gap-2 cursor-pointer">
    <input type="checkbox" name="" id="remember" class="hidden peer" />
    <span
      class="w-5 h-5 border-2 border-portage rounded-full peer-checked:bg-portage transition-colors duration-200"
    ></span>
    <span class="text-alabaster text-[0.827rem]">Lembrar de mim</span>
  </label>
  <button
    class="w-full h-[2.5rem] flex justify-center items-center bg-portage rounded-[0.625rem] cursor-pointer gap-4"
  >
    <img src="/user.svg" alt="" />
    <p class="text-[0.821rem] text-[#FFFFFF]">Entrar</p>
  </button>
</form>
