<form
  (ngSubmit)="onSubmit()"
  class="w-[28rem] flex flex-col justify-center items-start gap-5"
>
  <app-input label="Email" type="email" [(value)]="email" class="w-full" />
  <app-input
    label="Nome completo"
    type="text"
    [(value)]="fullName"
    class="w-full"
  />
  <app-input-password
    label="Senha"
    [(value)]="password"
    [showEye]="true"
    class="w-full"
  />
  <app-input-password
    label="Confirmar senha"
    [(value)]="repeatPassword"
    [showEye]="true"
    class="w-full"
  />
  <app-checkbox
    label="Eu concordo com os "
    urlLabel="termos e condições"
    url="/slaa"
  />
  <button
    type="submit"
    class="w-full h-10 flex justify-center items-center bg-portage rounded-lg cursor-pointer gap-4"
  >
    <img src="/user.svg" alt="" />
    <p class="text-small text-[#FFFFFF]">Entrar</p>
  </button>
</form>
