<div
  class="min-w-screen min-h-screen bg-background-500 flex justify-center items-center font-display"
>
  <div class="flex flex-col justify-center items-center gap-6">
    <h1 class="textPurpleShadow text-portage text-lg font-bold text-shadow-md">
      HypeDivision/Study
    </h1>
    <div>
      <div class="flex flex-col justify-center items-center gap-2 mb-8">
        <h2 class="text-ultra font-bold inter text-alabaster">Registrar</h2>
        <p class="text-santas-gray text-small">
          Crie sua conta para começar a usar o HypeDivision
        </p>
      </div>
      <app-formulary-register />
      <div class="mt-8 relative flex items-center justify-center">
        <hr class="w-full border-t border-santas-gray" />
        <span
          class="absolute left-1/2 transform -translate-x-1/2 bg-background-500 px-4 text-santas-gray text-xsmall"
          >OU CONTINUE COM</span
        >
      </div>
      <div class="w-full flex justify-between mt-8">
        <div
          class="w-[13.625rem] h-10 border-charade border hover:bg-[#7300FF] rounded-lg flex justify-center items-center gap-4"
        >
          <img src="/google.svg" alt="" srcset="" height="16" width="16" />
          <p class="text-[0.841rem] text-alabaster">Google</p>
        </div>
        <div
          class="w-[13.625rem] h-10 border-charade border hover:bg-[#7300FF] rounded-lg flex justify-center items-center gap-4"
        >
          <img src="/github.svg" alt="" srcset="" height="16" width="16" />
          <p class="text-[0.841rem] text-alabaster">Github</p>
        </div>
      </div>
      <div class="mt-8 flex justify-center items-center">
        <p class="text-santas-gray text-small font-normal">
          Já tem uma conta?
          <a href="" class="text-portage"> Faça login </a>
        </p>
      </div>
    </div>
  </div>
</div>
