<main class="bg-background-500 max-w-screen min-h-screen relative">
  <app-header />
  <div
    class="w-full pt-[5.375rem] p-8 flex flex-col justify-baseline items-start gap-8"
  >
    <section
      class=" mx-auto flex flex-row justify-center items-center mt-9"
    >
      <div class="flex flex-col w-[37.5rem]">
        <div class="flex">
          <h1 class="textPurpleShadow font-bold text-portage text-ultra">
            Hyper
          </h1>
          <h1 class="text-alabaster textPurpleShadow text-ultra font-bold">carregue</h1>
        </div>
        <h1 class="text-alabaster textPurpleShadow text-ultra font-bold">Seu aprendizado</h1>
        <p class="text-santas-gray text-base mt-6">
          Domine qualquer assunto com nossa plataforma de flashcards potente e
          visualmente impressionante. Aprenda mais rápido, memorize melhor.
        </p>
        <div class="flex flex-row w-full justify-baseline items-center gap-4 mt-10">
          <a href="" class="bg-portage textPurpleShadow flex flex-row w-fit gap-2 rounded-lg py-2.5 px-4"
            ><p class="text-alabaster text-small">Começar Agora</p>
            <img src="arrow-right.svg" alt="" srcset=""
          /></a>
          <a href="" class="flex flex-row w-fit gap-2 rounded-lg py-2.5 px-4 border border-santas-gray"
          ><p class="text-santas-gray text-small">Conheça o projeto</p>
          <img src="code-white.svg" alt="" srcset=""
        /></a>
        </div>
      </div>
      <app-card-stack />
    </section>
  </div>
</main>
