<main class="h-[120vh]">
  <app-side-bar />
  <div>
    <h1>HypeDivision Study</h1>
    <p>Plataforma de flashcards para potencializar seu aprendizadop
    </p>
  </div>
  <div>
    <div>
      <p>Acelere seu aprendizado com flashcards</p>
      <p>Crie cartões de estudo personalizados, teste seu conhecimento com quizzes e acompanhe
        seu progresso para aprender de forma eficiente.</p>
        <div>
          <a href=""><p>Ver Decks</p></a>
          <a href=""><p>+ Criar Flashcards</p></a>
        </div>
    </div>
    <div>
    <app-card-stack/>
    </div>
  </div>
  <div>
    <div>filter all / today / toMonth</div>
    <div>
<div class="Cartões Estudados"></div>
<div class="Decks Criados"></div>
<div class="Taxa de Acerto"></div>
    </div>
  </div>
  <div>
    <div>
      <p>Decks recentes</p>
      <p>Ver todos</p>
    </div>
    <div>
      <div class="ProgramaçãoJavaScript"></div>
      <div class="InglêsAvançado"></div>
      <div class="HistóriaMundial"></div>
      <div class="CriarNovoDeck"></div>
    </div>
  </div>
</main>
