@keyframes fadeSpot {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.sidebar {
	width: 80px;
	background-color: #1f1f2a;
	transition: width 0.3s ease-in-out;
}

.sidebar a {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	overflow: hidden;
}

.icon-wrapper {
	position: relative;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-wrapper app-closed-book-icon,
.icon-wrapper app-open-book-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon-wrapper .icon-closed {
	opacity: 1;
	transform: rotateY(0deg);
	animation: fadeSpot 4s ease-in-out infinite;
}

.icon-wrapper .icon-open {
	opacity: 0;
	transform: rotateY(-180deg);
	animation: none;
}

.sidebar .label {
	position: absolute;
	left: 48px;
	opacity: 0;
	transform: translateX(-10px);
	color: #d1d5db;
	font-size: 14px;
	margin-left: 8px;
	white-space: nowrap;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.sidebar .icon-container {
	width: 100%;
	justify-content: center;
	transition: justify-content 0.3s ease-in-out;
}

.sidebar.expanded {
	width: 260px;
}

.sidebar.expanded .icon-container {
	justify-content: flex-start;
}

.sidebar.expanded .icon-wrapper .icon-closed {
	opacity: 0;
	transform: rotateY(180deg);
	animation: none;
}

.sidebar.expanded .icon-wrapper .icon-open {
	opacity: 1;
	transform: rotateY(0deg);

	animation: fadeSpot 4s ease-in-out infinite;
}

.sidebar a.active {
	background-color: #4b3f72;
	border-radius: 8px;
}

.sidebar a.active .p-3 app-home-icon,
.sidebar a.active .p-3 app-side-books-icon,
.sidebar a.active .p-3 app-plus-icon,
.sidebar a.active .p-3 app-chart-icon,
.sidebar a.active .p-3 app-settings-icon,
.sidebar a.active .icon-wrapper .icon-closed,
.sidebar a.active .icon-wrapper .icon-open {
	stroke: white !important;
}

.sidebar a.active {
	border: 1px solid rgba(94, 129, 244, 0.5);
	background-color: rgba(186, 143, 239, 0.2);
	border-radius: 8px;
}
