@import "tailwindcss";

@theme {
  --color-background-500: #0E0E15;
  --color-portage: #9B87F5;
  --color-alabaster: #FAFAFA;
  --color-santas-gray: #A1A1AA;
  --color-wood-smoke: #16161D;
  --color-charade: #2E2E38;

  --font-display: "Inter", sans-serif;
}