@import "tailwindcss";

@theme {
  --color-background-500: #0e0e15;
  --color-portage: #9b87f5;
  --color-alabaster: #fafafa;
  --color-santas-gray: #a1a1aa;
  --color-wood-smoke: #16161d;
  --color-charade: #2e2e38;

  --font-display: "Inter", sans-serif;
}

::selection {
  background-color: #9b87f5;
  color: white;
}

.textPurpleShadow {
  text-shadow: 0 0 10px rgba(155, 135, 245, 0.7),
    0 0 20px rgba(155, 135, 245, 0.5);
}
