<main
  class="bg-background-500 max-w-screen min-h-screen relative">
  <app-header />
  <div
    class="w-full pt-[5.375rem] pb mx-auto flex flex-col justify-baseline items-center gap-8"
  >
    <section
      class="w-full flex lg:flex-row flex-col-reverse justify-center items-center mt-20 px-[5rem] 2xl:px-[21.5rem]"
    >
      <div class="flex flex-col w-full">
        <div class="flex">
          <h1 class="textPurpleShadow font-bold text-portage text-ultra">
            Hyper
          </h1>
          <h1 class="text-alabaster textPurpleShadow text-ultra font-bold">
            carregue
          </h1>
        </div>
        <h1 class="text-alabaster textPurpleShadow text-ultra font-bold">
          Seu aprendizado
        </h1>
        <p class="text-santas-gray text-base mt-6">
          Domine qualquer assunto com nossa plataforma de flashcards potente e
          visualmente impressionante. Aprenda mais rápido, memorize melhor.
        </p>
        <div
          class="flex flex-row w-full justify-baseline items-center gap-4 mt-10"
        >
          <a
            [routerLink]="['/login']"
            class="bg-portage textPurpleShadow flex flex-row w-fit gap-2 rounded-lg py-2.5 px-4"
          >
            <p class="text-alabaster text-small">Começar Agora</p>
            <img src="arrow-right.svg" alt="" srcse only-fade-spott="" />
          </a>
          <a
            [routerLink]="['/development']"
            class="flex flex-row w-fit gap-2 rounded-lg py-2.5 px-4 border border-santas-gray"
          >
            <p class="text-santas-gray text-small">Conheça o projeto</p>
            <img src="code-white.svg" alt="" srcse only-fade-spott="" />
          </a>
        </div>
      </div>
      <app-card-stack class=" hidden sm:block mb-10 lg:mb-0" />
    </section>
    <section class="mt-[6.25rem] w-full px-[5rem] 2xl:px-[21.5rem]">
      <div class="w-full flex flex-col justify-baseline items-center">
        <div class="w-full flex flex-row justify-center items-center gap-1">
          <p class="text-portage text-base textPurpleShadow">Recursos</p>
          <p class="text-alabaster textPurpleShadow text-base">do Principais</p>
        </div>
        <div class="mt-12 w-full grid grid-cols-1 md:grid-cols-3 gap-8">
          <div
            class="p-[1.875rem] bg-[#16161D]/50 flex flex-col border border-portage/20 rounded-lg gap-4"
          >
            <div class="flex flex-col justify-center items-start gap-6">
              <img
                src="open-book.svg"
                alt=""
                class="w-10 h-10 only-fade-spot"
              />
              <p class="text-alabaster font-bold">Flashcards Interativos</p>
            </div>
            <p class="text-santas-gray max-w-2xs">
              Crie e estude com flashcards personalizados que utilizam técnicas
              avançadas de memorização.
            </p>
          </div>
          <div
            class="p-[1.875rem] bg-[#16161D]/50 flex flex-col border border-portage/20 rounded-lg gap-4"
          >
            <div class="flex flex-col justify-center items-start gap-6">
              <img src="rocket.svg" alt="" class="w-10 h-10 only-fade-spot" />
              <p class="text-alabaster font-bold">Análise de Progresso</p>
            </div>
            <p class="text-santas-gray max-w-2xs">
              Acompanhe seu progresso com métricas detalhadas e visualize seu
              crescimento ao longo do tempo.
            </p>
          </div>
          <div
            class="p-[1.875rem] bg-[#16161D]/50 flex flex-col border border-portage/20 rounded-lg gap-4"
          >
            <div class="flex flex-col justify-center items-start gap-6">
              <img src="code.svg" alt="" class="w-10 h-10 only-fade-spot" />
              <p class="text-alabaster font-bold">Interface Cyberpunk</p>
            </div>
            <p class="text-santas-gray max-w-2xs">
              Desfrute de uma experiência de estudo única com nossa interface
              neon cyberpunk.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full mt-16 bg-[#29293D]/20 gap-[6.25rem] -mb-8">
      <div class="px-[5rem] 2xl:px-[21.5rem] py-16 flex flex-col lg:flex-row">
        <div class="flex flex-col gap-6">
          <div class="gap-4 flex flex-col justify-center items-baseline">
            <div
              class="w-full flex flex-row justify-baseline items-center gap-1"
            >
              <p class="text-portage text-base textPurpleShadow font-bold">
                Desenvolvimento
              </p>
              <p class="text-alabaster textPurpleShadow text-base font-bold">
                do Projeto
              </p>
            </div>
            <p class="text-santas-gray m-w-[33rem]">
              Conheça os bastidores da criação do HypeDivision Study. Nossa
              página de desenvolvimento oferece insights sobre as tecnologias
              utilizadas, desafios encontrados e lições aprendidas durante o
              processo de desenvolvimento.
            </p>
          </div>
          <a
            [routerLink]="['/development']"
            class="bg-[#29293D] border border-[#9B87F5]/50 flex justify-center items-center gap-2 px-4 py-2.5 w-fit rounded-lg"
          >
            <p class="text-alabaster">Explorar jornada de desenvolvimento</p>
            <img src="code-white.svg" alt="" />
          </a>
        </div>
        <div class="w-full flex flex-col justify-center items-center gap-4 mt-7 lg:mt-0">
          <div class="w-full flex gap-4 justify-center items-center">
            <div
              class="border border-portage/30 text-alabaster transition-all flex flex-col justify-center items-center gap-2 w-full py-4 rounded-lg"
            >
              <img src="code.svg" alt="" class="only-fade-spot" />
              <p class="text-small">Stack Tecnológico</p>
            </div>
            <div
              class="border border-portage/30 flex flex-col justify-center items-center gap-2 w-full py-4 rounded-lg"
            >
              <img src="rocket.svg" alt="" class="only-fade-spot" />
              <p class="text-small text-alabaster">Cronologia</p>
            </div>
          </div>
          <div
            class="w-full border border-portage/30 flex flex-col justify-center items-center gap-2 py-4 rounded-lg"
          >
            <img src="open-book.svg" alt="" class="only-fade-spot" />
            <p class="text-small text-alabaster">Aprendizados e Desafios</p>
          </div>
        </div>
      </div>
    </section>
    <app-footer class="w-full" />
  </div>
</main>
